# .NET
**/bin/
**/obj/
**/publish/

# IDE
**/.vs/
**/.idea/
**/.vscode/

# Git
.git
.gitignore

# Frontend
choam-web/node_modules
choam-web/dist
choam-web/.vite
choam-web/coverage

# OS
.DS_Store
Thumbs.db
